DATABASE_URL=
GITHUB_TOKEN=
GITHUB_OWNER=nararyajayautamagroub
GITHUB_WEBHOOK_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
AUTH_SECRET=
DISCORD_BOT_TOKEN=
EMAIL_API_KEY=
STORAGE_BUCKET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
EMAIL_API_URL=
EMAIL_API_KEY=
EMAIL_FROM=NARARYA GARAGE <no-reply@example.com>
